<form>
  <div class="form-group">
    <input required
           minlength="3"
           maxlength="20"
           ngModel="Your name Bro*"
           type="text"
           #firstName="ngModel"
           name="firstName"
           id="firstName"
           (change)="log(firstName)">
    <div
      *ngIf="!firstName.valid">champ incorrect
    </div>
    <div
      *ngIf="firstName.errors">{{firstName}}
    </div>
  </div>
  <div class="form-group">
    <textarea
              id="textArea"
              placeholder="Your data"
              name="textArea"></textarea>
  </div>
  <button>Envoyer</button>
</form>
